# Frontend

# compiled output
project/frontend/dist
project/frontend/tmp
project/frontend/out-tsc
# Only exists if Bazel was run
project/frontend/bazel-out

# dependencies
project/frontend/node_modules

# profiling files
project/frontend/chrome-profiler-events.json
project/frontend/speed-measure-plugin.json

# IDEs and editors
project/frontend/.idea
project/frontend/.project
project/frontend/.classpath
project/frontend/.c9frontend/
project/frontend/*.launch
project/frontend/.settingsfrontend/
project/frontend/*.sublime-workspace

# IDE - VSCode
project/frontend/.vscodefrontend/*
project/frontend/!.vscodefrontend/settings.json
project/frontend/!.vscodefrontend/tasks.json
project/frontend/!.vscodefrontend/launch.json
project/frontend/!.vscodefrontend/extensions.json
project/frontend/.historyfrontend/*

# misc
project/frontend/frontend/.sass-cache
project/frontend/frontend/connect.lock
project/frontend/coverage
project/frontend/frontend/libpeerconnection.log
project/frontend/npm-debug.log
project/frontend/yarn-error.log
project/frontend/testem.log
project/frontend/typings

# System Files
project/frontend/.DS_Store
project/frontend/Thumbs.db

project/backend/.DS_Store
project/backend/Thumbs.db

project/backend/.idea/
project/backend/.vscode/
project/backend/node_modules/
project/backend/build/
project/backend/tmp/
project/backend/temp/